paddleocr==2.7.0.3
paddlepaddle==2.5.2
paddlepaddle
pillow
torch==2.1.1+cu121
torchvision==0.16.1+cu121
torchaudio==2.1.1+cu121
opencv-contrib-python==4.5.4.60
opencv-python==4.6.0.66
opencv-python-headless==4.5.4.60
tablepyxl
numpy~=1.26.2
setuptools~=69.0.2
pip~=23.3.1